body {
    margin: 0;
    font-family: Arial, sans-serif;
    background:
        linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),
        url("../images/horoscope-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header, footer {
    background-color: rgba(0,0,0,0.6);
}

button:hover {
    background-color: #cc7000;
    transition: 0.3s;
}
